@use "variables" as variable;

.container {
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
}
.header {
  height: 56px;
  background-color: variable.$secondary-color;
  padding: 8px 64px;
  h1 {
    font-family: variable.$font-family;
    font-size: variable.$bold-font-size;
    font-weight: variable.$large-font-weight;
    color: variable.$primary-color;
  }
}

.main {
  background-color: variable.$background-color;
  height: 100%;
  flex-grow: 1;
  padding: 0 64px;
  .emptyBox {
    width: 308px;
    height: 108px;
    padding: 16px;
    margin-top: 64px;
    background: #ffffff;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05),
      0px 16px 32px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    button {
      background-color: variable.$button-color;
      padding: 8px 16px;
      color: variable.$primary-color;
      font-size: variable.$base-font-size;
      font-weight: variable.$base-font-weight;
      border-radius: 4px;
      cursor: pointer;
      outline: none;
      border: none;
    }
    h2 {
      color: variable.$primary-color;
      font-family: variable.$font-family;
      font-size: variable.$bold-font-size;
      font-weight: variable.$bold-font-weight;
    }
  }
}
.burger {
  display: none;
}

.gridContainer {
  display: grid;
  column-gap: 32px;
  grid-template-columns: 1fr 3fr;
  padding-top: 64px;
}
.gridItem1,
.gridItem2 {
  background: #ffffff;
  border: 1px solid #f1f1f1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 16px 32px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
}
.gridItem1 {
  width: 308px;
  height: 339px;
  padding: 16px;
  .userData {
    overflow-y: scroll;
    height: 296px;
  }
}
.gridItem2 {
  height: 277px;
  padding: 32px;
}
.user {
  display: flex;
  padding: 0px 14px 10px 14px;
  justify-content: space-between;
  cursor: pointer;
  // &:first-child{
  //   background-color: #EAEAEA;
  //       border-radius: 4px;
  //       padding: 0px 14px 10px 14px;
  // }
  .groupName {
    display: flex;
    .icon {
      padding-top: 17px;
    }
    .name {
      color: variable.$neutral-color;
      font-family: variable.$font-family;
      font-size: variable.$medium-font-size;
      font-weight: variable.$medium-font-weight;
      margin-left: 14px;
    }
  }
  .arrow {
    padding-top: 17px;
  }
}
.addUser {
  background-color: variable.$button-color;
  padding: 8px 16px;
  color: variable.$primary-color;
  font-size: variable.$base-font-size;
  font-weight: variable.$base-font-weight;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 16px;
  span {
    margin-right: 9px;
    padding-top: 15px;
  }
}
.group2Header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
  p {
    color: variable.$primary-color;
    font-size: variable.$medium-font-size;
    font-weight: variable.$bold-font-weight;
  }
}
.userDescription {
  margin-top: 24px;
  width: 50%;
  .userRow {
    display: grid;
    grid-template-columns: 2fr 2fr;
    .userKey {
      color: variable.$primary-color;
      font-size: variable.$base-font-size;
      font-weight: variable.$base-font-weight;
    }
    .userValue {
      color: variable.$primary-color;
      font-size: variable.$base-font-size;
      font-weight: variable.$bold-font-weight;
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
  .header {
    padding: 8px 16px;
  }
  .main {
    padding: 0 16px;
  }
  .gridContainer {
    display: block;
    padding-top: 28px;
  }
  .gridItem1 {
    display: none;
    animation-duration: 3s;
    animation-name: mymove;
    margin-bottom: 24px;
    animation-iteration-count: 1;
    width: 330px;
  }
  .gridItem2 {
    // width: 330px;
    padding: 32px 16px;
    height: 460px;
    margin-bottom: 24px;
    z-index: 100;
  }
  .userDescription {
    width: 100%;
  }
  .userRow {
    display: flex;
  }
  .userKey {
    width: 127px;
  }
  .burger {
    display: block;
    padding-top: 36px;
    cursor: pointer;
  }
  @keyframes mymove {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .header {
    padding: 8px 16px;
  }
  .main {
    padding: 0 16px;
  }
  .userDescription {
    width: 100%;
  }
  .gridItem2 {
    padding: 32px;
  }
}
